<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grazz.pebblerss"
    android:versionCode="10"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="com.grazz.pebblerss.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.grazz.pebblerss.FeedActivity"
            android:label="@string/title_activity_feed"
            android:parentActivityName="com.grazz.pebblerss.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grazz.pebblerss.MainActivity" />
        </activity>
        <activity
            android:name="com.grazz.pebblerss.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.grazz.pebblerss.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grazz.pebblerss.MainActivity" />
        </activity>

        <service
            android:name="com.grazz.pebblerss.RSSService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name="com.grazz.pebblerss.PassiveRSSDataReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.getpebble.action.app.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>